<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Budget</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="expensesView.html">Expenses Summary</a></li>
            <li><a href="categoriesView.html">Categories</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ul>
    </nav>
    <h1>Monthly Expense Tracker</h1>
    <div class="container">
        <div class="categoriesHeader-container">
            <h2>Categories</h2>
            <button class="btn btn-primary right" id="openAddCategoryModalBtn" onclick="onAddCategory()">Add +</button>
        </div>
        <div class="card-container categories-card" id="categories-container"></div>
    </div>
    

    <div id="modal-overlay" class="modal-overlay"></div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
    <script src="../scripts/localStorageHandler.js"></script>
    <script src="../scripts/dataHandler.js"></script>
    <script src="../scripts/utils.js"></script>
    <script src="../app.js"></script>
</body>
</html>