<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Monthly Expense Tracker</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="expensesView.html">Expenses Summary</a></li>
            <li><a href="categoriesView.html">Categories</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ul>
    </nav>
    <h1>Monthly Expense Tracker</h1>
    <div class="container">
        <div class="card-container">
            <div class="card-container overview-container">
                <div class="overview-details">
                    <h2>Expenses Summary</h2>
                    <dl class="summary-text_dimensions">
                        <dt class="summary-title">Total Expenses:</dt>
                        <dd id="total-expenses-value">0</dd>
                        <dt class="summary-title">Total Category:</dt>
                        <dd id="total-category-value">Not selected</dd>
                        <dt class="summary-title">Category:</dt>
                        <dd id="overview-category-value">
                            <select class="small-dropdown" name="" id="currency-overview-dropdown">
                                <!-- <option value="">All</option> -->
                            </select>
                        </dd>
                    </dl>
                </div>
                <div class="chart-container">
                    <canvas id="categories-pie-chart"></canvas>
                </div>
            </div>
            
            <div class="expensesHeader-container">
                <h2>Expenses</h2>
                <button class="btn btn-primary right" id="addExpenseBtn" onclick="onAddExpense()">Add +</button>
            </div>
            <div class="table-container" id="table-container">
            </div>
        </div>

        <div class="content">
            <div class="modal-overlay" id="modal-overlay">
            </div>
        </div>
    </div>
    
    <!-- <canvas id=""></canvas> -->
    
    
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
<script src="../scripts/localStorageHandler.js"></script>
<script src="../scripts/dataHandler.js"></script>
<script src="../scripts/utils.js"></script>
<script src="../app.js"></script>
</html>