@import './variables.css';

body{
    font-family: var(--font-family-main);
    background-color: var(--background-color);
    color: var(--text-color);
}

.container{
    margin: 2% 5%;
}

h1{
    text-align: center;
}

/* Navbar styling */
nav {
    background-color: var(--nav-background-color);
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    color: var(--nav-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: var(--nav-hover-color);
}

/* Responsive styling */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        flex: none;
    }
}

.container_main {
    background-color: var(--card-color);
    border-radius: 1rem;
    margin: 5vw;
    padding: 1rem;
}

.container_summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
    background-color: var(--card-summary-color);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 15px rgba(0,0,0,0.1 green, blue, alpha);
}

dl {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
}

dd {
    margin: 0 2rem
}

.summary-text_dimensions{
    font-size: 1.5rem;
}

.summary-title {
    font-weight: bold;
}

.container_options{
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed; /* Ensures fixed layout */
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
  
table tr {
    background-color: var(--table-background-color);
    border: 1px solid #ddd;
    padding: .35em;
}
  
table th,
table td {
    padding: .625em;
    text-align: center;
    overflow: hidden; /* Ensures text does not overflow */
    text-overflow: ellipsis; /* Adds ellipsis for overflow text */
    white-space: nowrap; /* Prevents text from wrapping */
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/* Set specific widths for each column */
table th:nth-child(1), table td:nth-child(1) {
    width: 20vh; /* Adjust width as needed */
}

table th:nth-child(2), table td:nth-child(2) {
    width: 20%; /* Adjust width as needed */
}
table th:nth-child(6), table td:nth-child(6) {
    width: 12%; /* Adjust width as needed */
}

/* Add more column width definitions as needed */


@media screen and (max-width: 800px) {
    
    table th:nth-child(1), table td:nth-child(1),
    table th:nth-child(2), table td:nth-child(2),
    table th:nth-child(6), table td:nth-child(6) {
        width: auto; /* Override width to auto or any other value */
    }

    table {
        border: 0;
    }
  
    table caption {
        font-size: 1.3em;
    }
    
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    table td:last-child {
        border-bottom: 0;
    }
    
}

/* Button styles */

.btn {
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.5rem;
    color: rgb(4, 0, 0);
    border: none;
    cursor: pointer;
}

.btn-large {
    border-radius: 1rem;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    width: 20rem;
}


.btn.right{
    margin-left: auto;
}

.btn.sizing{
    padding: 0;
    margin: 0;
}

/* Primary */
.btn-primary {
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
}

.btn-primary.right {
    margin-left: auto;
}

/* Danger */
.btn.btn-danger {
    background-color: var(--danger-color);
    color: white;
    transition: background-color 0.3s ease;
}
.btn.btn-danger:hover {
    background-color: var(--danger-color-hover);
}

/* Icon button styles */
.btn-icon-only{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
    color: var(--icn-color);
}

.btn-icon-only:hover{
    background-color: var(--icn-hover-color);
}

.modal-header-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}


/* Modal styles */

.modal-overlay {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--modal-overlay-z-index);
    position: fixed;
    overflow-y: auto;
    background-color: var(--modal-overlay-color);
}

.show {
    display: block; /* Show the modal when this class is added */
}

.modal{
    top: 50%;
    left: 50%;
    margin: 10vh 35vw;
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 1rem;
    z-index: var(--modal-z-index);
}

@media screen and (max-width: 800px) {
    .modal {
        margin: 10vh 20vw;
    }
    
}

/* Form styles */

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    /* background-color: #fff; */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Form label styles */
form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Form Input styles */
form input[type="text"],
form input[type="number"],
form input[type="color"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Additional color input styles */
form input[type="color"] {
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

form input[type="color"]:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-container {
    gap: 1rem;
    background-color: rgba(88, 87, 103, 0.18);
    border-radius: 1rem;
}
  
.categoriesHeader-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.categories-list {
    list-style-type: none;
    padding: 1vh 10%;
    margin: 0;
}
.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: wrap;
    padding: 2vh 2vw;
    border-radius: 1rem;
}

.btn-container{
    padding: 3rem;
}

.category-name {
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: lighter;
}

.category-item.light-text {
    color: #ffffff !important;
}

.expensesHeader-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.no-scroll {
    overflow: hidden;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}


/* Wrapper for the select element */
.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* General styles for the select dropdown */
.select-wrapper select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Remove default arrow in Safari */
    -moz-appearance: none; /* Remove default arrow in Firefox */
}

/* Add a custom arrow */
.select-wrapper::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-image: url('../assets/icons/arrow-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    color: #333;
}

/* Style for the dropdown options */
.select-wrapper select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

/* Focus state */
.select-wrapper select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

input[type="date"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #333;
    appearance: none; /* Remove default styling */
    -webkit-appearance: none; /* Remove default styling in Safari */
    -moz-appearance: none; /* Remove default styling in Firefox */
}

